 Move down content because we have a fixed navbar that is 50px tall */


html
{

}

body 
{
	min-width: 768px;
	max-width: 2048px; 
}


.greyheader
{
	height: 36px;
	background-color: #373737;

}


.mainimage
{
	background-image: url('images/headerFULL.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;

	position:relative;
	height: 388px;
}

.darkoverlay
{
	height:68px;
	position: absolute;
	left: 0px;
	bottom: 0px;
	right:0px;
	background-color: rgba(0,0,0,0.45);
}

.profilepic
{
	position: absolute;
	background-image: url('images/profiletext.png');
	background-repeat: no-repeat;
	background-position: right 30%;
	background-size: 80%;


	left: 0px;
	bottom: 0px;
	right:0px;
	top: 0px;

}


.myButton {
width: 70px;
height: 70px;
background: url(images/homeICON.png);
}

.myButton:hover {
background: url(images/mechICON.png);
background-position:  0px -52px;
}

.myButton:active {
background: url(images/gridICON.png);
}







/*

	background-color: #ffffff;
    background-image: url("images/personalGRID21.jpg");
 	width: 1920px;
	background: 0,0,0,0.45;

 	 padding-top: 50px;
 	padding-bottom: 20px;
  
  	height: 50%;
	min-height: 100px !important;

